.experience-info{
    display: flex;
    flex-direction: column;
    width: 411px;
    height: 359px;;
}

.experience-info__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;
}

.experience-info__list-item{
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    color: black;
    background: #fff;
}

.experience-info__list-item.selected{
    color: #fff;
    background: #28d979;
    width: 387px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.experience-info__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-info__period{
    font-size: 8px;
    line-height: 150%;
    font-weight: 500;
}

.experience-info__label{
    color: #DDF163;
    background-color: rgba(126, 115, 18, 0.4);
    line-height: 155%;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 59px;
}

.experience-info__content{
    display: flex;
    justify-content: space-between;
}

.experience-info__job{
    flex-direction: column;
    width: 124px;
    height: 25px;
    display:flex;
    margin-right: 8px;
}

.experience-info__job-specialty{
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
}

.experience-info__job-bottom{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 8px;
}

.experience-info__list-item.selected .experience-info__job-bottom {
    color: #ebf9f2;
}

.experience-info__job-name,
.experience-info__job-time {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__responsability-list{
    width: 239px;
    padding-left: 0px;
    margin: 0px;
}

.experience-info__responsability-list-item {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__list-item.next {
    width: 387px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 108px;
}

.experience-info__list-item.job {
    width: 387px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    height: 96px;
}
