.extra-info {
    width: 267px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.interests-info__content {
  
    box-sizing: content-box;
    padding: 12px;
    
    
}

.interests-info__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
    margin-top: 16px;

}

.interests-info__list-item {
    height: 15px;
    display: inline-block;
    border-radius: 15px;
    padding: 4px 10px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 1);
    gap: 8px;
}

.contact-info__item {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    justify-content: space-between;
    padding: 12px;
    line-height: 150%;
    display: grid;
}

.contact-info__email {
    font-size: 10px;
    text-align: left;
}


