body,
p {
    margin: 0;
}


@font-face {
    font-family: Inter;
    font-weight: 400;
    src: url(./fonts/InterRegular.ttf)
}

@font-face {
    font-family: Inter;
    font-weight: bold;
    src: url(./fonts/InterBold.ttf)
}

html {
    font-family: Inter;
    font-weight: 400;
}

.container {
    background: #6600FF;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  height: 530px;
  width: 380px;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}

.location-bar {
  height: 44px;
  display: flex;
}

.location-input {
  flex-grow: 1;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 12px 15px;
  box-sizing: border-box;
}

.location-button {
  height: 100%;
  width: 44px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-left: 20px;
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.current-weather-icon {
  width: 220px;
  height: 220px;
}

.current-weather-temperature {
  font-weight: 400;
  font-size: 45px;
  margin: 0;
}

.current-weather-status {
  font-weight: 400;
  font-size: 25px;
  margin: 0;
}

.forecast {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  overflow: auto;
  
}

.forecast-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.forecast-time {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

.forecast-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.forecast-temperature {
  font-weight: 700;
  font-size: 15px;
  margin: 0;
}